<h1>welcome to chortle</h1>

<div id='login-form-container'>

  <%= form_for(:sessions, url: login_path) do |f| %>
    <%= f.email_field :username, class: 'form-field', placeholder: 'username' %>
    <%= f.password_field :password, class: 'form-field', placeholder: 'password' %>
    <%= f.submit 'log in', class: 'login-button button' %>
  <% end %>

</div>


<div id='create-user-form-container'>

  <%= form_for(:users, url: create_user_path) do |f| %>
    <%= f.email_field :username, class: 'form-field', placeholder: 'username' %>
    <%= f.password_field :password, class: 'form-field', placeholder: 'password' %>
    <%= f.password_field :password_confirmation, class: 'form-field', placeholder: 'password_confirmation' %>
    <%= f.submit 'create account', class: 'login-button button' %>
  <% end %>

</div>

<!-- 
def create
  @person = Person.new(person_params)
  # ...
end
 
private
  def person_params
    params.require(:person).permit(:name, addresses_attributes: [:id, :kind, :street])
  end -->