<div id='login-form-container'>
  <h2>welcome to chortle</h2>
  <%= form_for(:sessions, url: login_path) do |f| %>
    <%= f.text_field :username, class: 'form-field', placeholder: 'username' %>
    <%= f.password_field :password, class: 'form-field', placeholder: 'password' %>
    <%= f.submit 'log in', class: 'login-button button' %>
  <% end %>

</div>


<div id='create-user-form-container'>
  <h2>create an account</h2>
  <%= form_for(:users, url: create_user_path) do |f| %>
    <%= f.text_field :username, class: 'form-field', placeholder: 'username' %>
    <%= f.password_field :password, class: 'form-field', placeholder: 'password' %>
    <%= f.password_field :password_confirmation, class: 'form-field', placeholder: 'password confirmation' %>
    <%= f.submit 'create account', class: 'login-button button' %>
  <% end %>
</div>